.container {
    overflow: scroll;
    padding: 1rem;
    grid-area: main;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 350px auto auto;
    grid-template-areas: 
        "mtl mtl mtl mtl mtr mtr mtr mtr"
        "mcc mcc mcc mcc mcc mcc mcc mcc"
        "mbc mbc mbc mbc mbc side side side"
}

/* Grid position assignment */

#topLeft {
    grid-area: mtl;
}

#topRight {
    grid-area: mtr;
}

#center {
    grid-area: mcc;
    padding: 1em 0;
    margin: 0 -1em;
}

#side {
    grid-area: side;
}

#bottom {
    grid-area: mbc;
}

/* End grid position assignment */

.main-post {
    height: 350px;
    margin-bottom: 1em;
}

.post {
    height: 200px;
    margin-bottom: 2em;
}

.main-post-img {
    height: 60%;
}

.middle-group {
    height: 260px;
    background-color: #eceff1;
    padding: 1rem;
    overflow-y: scroll;
}

.group-header {
    font-size: 1.6em;
    font-weight: 400;
}

.link-item {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    padding: 1em 0.5em;
    border-radius: 0.5em;
}

.link-item:hover {
    background-color: #cfd8dc;
}

/* Apply to small devices */
@media (max-width: 768px) {
    #topLeft {
        grid-column-end: 9;
    }

    #topRight {
        display: none;
    }

    #bottom {
        grid-column-end: 9;
    }
}

/* Fix wrapping issue on certain widths */
@media (min-width: 769px) and (max-width: 860px) {
    .date {
        display: none;
    }

    .author {
        font-size: 0.8rem;
    }
}

/* Apply to medium devices */
@media (min-width: 769px) and (max-width: 1024px) {
    #topLeft {
        grid-column-end: 5
    }

    #center {
        display: block;
    }

    #bottom {
        grid-column-end: 9;
    }

    .post {
        height: 230px;
    }
}

/* Apply to large devices */
@media (min-width: 1025px) {
    .container {
        padding: 1rem calc((100vw - 950px)/2);
    }

    .post {
        height: 230px;
    }

    #side {
        display: block;
    }
}