body {
    font-family: 'Roboto', sans-serif, Arial;
    color: #212121;
    margin: 0;
    font-size: 16px;
}

.bg-primary {
    background-color: #607d8b;
}

.bg-light {
    background-color: #FAFAFA;
}

.bg-warning {
    background-color: #ff5722;
}

.bg-danger {
    background-color: #e91e63;
}

.text-primary {
    color: #607d8b;
}

.text-light {
    color: #FAFAFA;
}

.text-warning {
    color: #ff5722;
}

.text-danger {
    color: #e91e63;
}

.text-secondary {
    color: #CFD8DC;
}

.text-primary-darker {
    color: #455A64;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 50px 50px auto 60px;
    grid-template-areas: 
        "top top top top top top top top"
        "nav nav nav nav nav nav nav nav"
        "main main main main main main main main"
        "ftr ftr ftr ftr ftr ftr ftr ftr";
}

.box {
    border: 2px solid green;
}

.grid-item {
    display: flex;
    padding: 1rem;
}

/* NAVBAR START */

.top-nav {
    grid-area: top;
    justify-content: space-between;
}

.nav {
    grid-area: nav;
    justify-content: space-between;
}

.nav-group {
    display: flex;
}

.nav-item {
    padding: 0.5rem;
    align-self: center;
    cursor: pointer;
}

.search:hover + .search-input {
    display: block;
    position: absolute;
    left: 0;
}

.search-input {
    width: 100%;
}

.search-input > input {
    width: 100%;
}

/* NAVBAR END */

.content {
    grid-area: main;
}

.footer {
    grid-area: ftr;
}



/* Utilities - SPAN COLUMNS*/
.span2 {
    grid-column-end: span 2;
}

.span3 {
    grid-column-end: span 3;
}

.span4 {
    grid-column-end: span 4;
}

.span5 {
    grid-column-end: span 5;
}

.span6 {
    grid-column-end: span 6;
}

.span7 {
    grid-column-end: span 7;
}

.span8 {
    grid-column-end: span 8;
}

.align-center {
    align-items: center;
}

/* DISPLAY */
.d-flex {
    display: flex;
}

.d-none {
    display: none;
}