body {
    font-family: 'Roboto', sans-serif, Arial;
    color: #212121;
    margin: 0;
    font-size: 16px;
}

.bg-primary {
    background-color: #607d8b;
}

.bg-light {
    background-color: #fafafa;
}

.bg-warning {
    background-color: #ff5722;
}

.bg-danger {
    background-color: #e91e63;
}

.text-primary {
    color: #607d8b;
}

.text-light {
    color: #fafafa;
}

.text-warning {
    color: #ff5722;
}

.text-danger {
    color: #e91e63;
}

.text-secondary {
    color: #cfd8dc;
}

.text-primary-darker {
    color: #455a64;
}

.text-description {
    color: #757575;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 50px 50px auto 60px;
    grid-template-areas: 
        "top top top top top top top top"
        "nav nav nav nav nav nav nav nav"
        "main main main main main main main main"
        "ftr ftr ftr ftr ftr ftr ftr ftr";
}

.box {
    border: 2px solid green;
}

.grid-item {
    display: flex;
    padding: 1rem;
}

/* NAVBAR START */

.top-nav {
    grid-area: top;
    justify-content: space-between;
}

.nav {
    grid-area: nav;
    justify-content: space-between;
    overflow-y: scroll;
}

.logo {
    margin: 0.3rem 0.75rem;
}
.logo-small {
    width: 35px;
}

.nav-group {
    display: flex;
}

.nav-item {
    padding: 0.5rem;
    align-self: center;
    cursor: pointer;
}

.nav-link-primary {
    color: #fafafa;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
}

.nav-link-primary:hover {
    background-color: #FAFAFA;
    color: #607d8b;
}

.search-input {
    width: 100%;
}

/* NAVBAR END */

/* MAIN CONTENT  START*/
.content {
    grid-area: main;
    padding: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.5);
}

.card-img {
    width: 100%;
    object-fit: cover;
}

.main-post {
    height: 350px;
}

.post {
    height: 200px;
}

.main-post-img {
    height: 60%;
}

.card-img-top {
    border-radius: 0.5rem 0.5rem 0 0;
    height: 50%;
}

.card-head {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.7em 0.5em;
}

.card-body {
    margin: 0 0.5em;
    text-align: justify;
    height: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-body > * {
    margin: 0.5em 0;
    flex-grow: 1;
}

.card-footer {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.75em 0.5em;
}

.date {
    margin: 0 0.5em;
}

.bookmark-empty {
    font-weight: 400 !important;
}

.bookmark-empty:hover {
    font-weight: 900 !important;
    cursor: pointer;
}

.header {
    width: 70%;
    font-size: 1.5em;
    font-weight: 400;
    margin: 0;
}

.rating {
    font-size: 0.7rem;
}


/* MAIN CONTENT END */


.footer {
    grid-area: ftr;
}



/* Utilities - SPAN COLUMNS*/
.span-2 {
    grid-column-end: span 2;
}

.span-3 {
    grid-column-end: span 3;
}

.span-4 {
    grid-column-end: span 4;
}

.span-5 {
    grid-column-end: span 5;
}

.span-6 {
    grid-column-end: span 6;
}

.span-7 {
    grid-column-end: span 7;
}

.span-8 {
    grid-column-end: span 8;
}

/* PADDING - MARGIN - ALIGNMENT */

.p-0 {
   padding: 0 !important; 
}

.p-1 {
    padding: 1em !important;
}

.ml-1 {
    margin-left: 1em !important;
}

.align-center {
    align-items: center;
}

.text-right {
    text-align: right;
}

/* DISPLAY */
.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.font-light {
    font-weight: 200;
}